@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/lib/tabulator/dist/css/tabulator.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/tabulator/dist/css/bootstrap/tabulator_bootstrap4.min.css">
}

<div>
    <h1 class="display-4">Recipe book</h1>
    <div class="container-fluid">
        <div class="row mb-2 float-end">
            <div class="">
                <button type="button" class="btn btn-primary" onclick="openNewRecipe()">Nuova</button>
            </div>
        </div>
        <div class="">
            <div id="recipe-table"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        _recipeUrl = "@Url.Page("Recipe")";
        _recipeTableGetUrl = "@Url.Action("Get", "Recipes")";
    </script>
    <script type="text/javascript" src="~/lib/tabulator/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="~/js/RecipeList.js"></script>
}
